.carousel {
    perspective: 1000px;
    /* This gives a 3D effect when rotating cards */
    height: 300px;
    /* Adjust based on your needs */
    position: relative;
}

.card {
    position: absolute;
    width: 200px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}